<footer class="footer">
	<ul>
		<a href="/">
			<li>
				Home
			</li>
		</a>
		<a href="/contact">
			<li>
				Contact
			</li>
		</a>
		<a href="/work">
			<li>
				Work
			</li>
		</a>
		<li>
			Blog
		</li>
	</ul>
</footer>