<nav class="main">
	<ul>
		<a href="/">
			<li>
				Home
			</li>
		</a>
		<a href="/contact">
			<li>
				Contact
			</li>
		</a>
		<a href="/work">
			<li>
				Work
			</li>
		</a>
		<a href="/blog">
		<li>
			Blog
		</li>
		</a>
	</ul>
</nav>