<div id="central_container">
<img id="background" src="/assets/tsj_background2.png" alt="crater lake"/>
<%= render :partial  => "/shared/nav" %>
<a id="mail" href="mailto:tsjackson@gmail.com" target="blank"> Send an email to</a>
<p class="email">tsjackson (at) gmail.com </p>
</div>