<div id="central_container">
<img id="background" src="/assets/tsj_background2.png" alt="crater lake"/>

<h2>Web Applications and Knowledge Systems </h2>

<h1><span class="design">Designed</span> <span class="and">and</span> <span class="built">Built</span></h1>

<%= render :partial  => "/shared/nav" %>	

<h3> by Taylor Jackson</h3>



</div>