<img id="background" src="/assets/tsj_background.png" alt="crater lake"/>
<h2>Web Products and Knowledge Systems </h2>
<h1><span class="design">Designed</span> <span class="built">and Built</span>
	
<h3> by Taylor Jackson</h3>

<%= render :partial  => "/shared/nav" %> 